@model TravelLog.Models.OrderWrap

@{
    ViewData["Title"] = "OrderEdit";

    var order = Model.order;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-4">修改訂單</h1>

            <div class="card">
                <div class="card-header">
                    <h4>訂單資料</h4>
                </div>
                <div class="card-body text-dark">
                    <div>
                        <form asp-action="SaveEdit" method="post">
                            @Html.AntiForgeryToken()
                            <!-- 加入隱藏欄位保存 ID -->
                            <input type="hidden" asp-for="OrderId" />
                            <!-- 表單內容 -->
                            <div class="form-group">
                                <label asp-for="OrderTime" class="control-label"></label>
                                <input asp-for="OrderTime" class="form-control" readonly />
                                <span asp-validation-for="OrderTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OrderTotalAmount" class="control-label"></label>
                                <input asp-for="OrderTotalAmount" class="form-control" readonly />
                                <span asp-validation-for="OrderTotalAmount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DeleteAt" class="control-label"></label>
                                <input asp-for="DeleteAt" class="form-control" readonly />
                                <span asp-validation-for="DeleteAt" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserId" class="control-label"></label>
                                <input asp-for="UserId" class="form-control" />
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OrderStatus" class="control-label"></label>
                                <input asp-for="OrderStatus" class="form-control" />
                                <span asp-validation-for="OrderStatus" class="text-danger"></span>
                            </div>
                            @* <div class="form-group"> *@
                            @*     <input type="submit" value="儲存修改" class="btn btn-outline-primary" /> *@
                            @*     <a asp-controller="Order" asp-action="OrderManage" class="btn btn-outline-danger">取消修改</a> *@
                            @* </div> *@
                        </form>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <input type="submit" value="儲存修改" class="btn btn-primary" />
                <a asp-controller="Order" asp-action="OrderManage" class="btn btn-danger">取消修改</a>
            </div>
        </div>
    </div>
</div>

    @* <h1>修改訂單</h1> *@
    @* <hr /> *@
    @* <div class="row"> *@
    @*     <div class="col-md-4"> *@
    @*         <form asp-action="SaveEdit" method="post"> *@
    @*             @Html.AntiForgeryToken() *@
    @*             <!-- 加入隱藏欄位保存 ID --> *@
    @*             <input type="hidden" asp-for="OrderId" /> *@
    @*             <!-- 表單內容 --> *@
    @*             <div class="form-group"> *@
    @*                 <label asp-for="OrderTime" class="control-label"></label> *@
    @*                 <input asp-for="OrderTime" class="form-control" /> *@
    @*                 <span asp-validation-for="OrderTime" class="text-danger"></span> *@
    @*             </div> *@
    @*             <div class="form-group"> *@
    @*                 <label asp-for="OrderTotalAmount" class="control-label"></label> *@
    @*                 <input asp-for="OrderTotalAmount" class="form-control" /> *@
    @*                 <span asp-validation-for="OrderTotalAmount" class="text-danger"></span> *@
    @*             </div> *@
    @*             <div class="form-group"> *@
    @*                 <label asp-for="DeleteAt" class="control-label"></label> *@
    @*                 <input asp-for="DeleteAt" class="form-control" /> *@
    @*                 <span asp-validation-for="DeleteAt" class="text-danger"></span> *@
    @*             </div> *@
    @*             <div class="form-group"> *@
    @*                 <label asp-for="UserId" class="control-label"></label> *@
    @*                 <input asp-for="UserId" class="form-control" /> *@
    @*                 <span asp-validation-for="UserId" class="text-danger"></span> *@
    @*             </div> *@
    @*             <div class="form-group"> *@
    @*                 <label asp-for="OrderStatus" class="control-label"></label> *@
    @*                 <input asp-for="OrderStatus" class="form-control" /> *@
    @*                 <span asp-validation-for="OrderStatus" class="text-danger"></span> *@
    @*             </div> *@
    @*             <div class="form-group"> *@
    @*                 <input type="submit" value="儲存修改" class="btn btn-outline-primary" /> *@
    @*                 <a asp-controller="Order" asp-action="OrderManage" class="btn btn-outline-danger">取消修改</a> *@
    @*             </div> *@
    @*         </form> *@
    @*     </div> *@
    @* </div> *@

    <!-- Scripts -->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
