@model TravelLog.Models.OrderWrap

@{
    ViewData["Title"] = "OrderEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link rel="stylesheet" href="../vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="../vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Content body start -->
    <h1>修改訂單</h1>

    <h4>Order</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="SaveEdit" method="post">
                @Html.AntiForgeryToken()
                <!-- 加入隱藏欄位保存 ID -->
                <input type="hidden" asp-for="OrderId" />
                <!-- 表單內容 -->
                <div class="form-group">
                    <label asp-for="OrderTime" class="control-label"></label>
                    <input asp-for="OrderTime" class="form-control" />
                    <span asp-validation-for="OrderTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderTotalAmount" class="control-label"></label>
                    <input asp-for="OrderTotalAmount" class="form-control" />
                    <span asp-validation-for="OrderTotalAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeleteAt" class="control-label"></label>
                    <input asp-for="DeleteAt" class="form-control" />
                    <span asp-validation-for="DeleteAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderStatus" class="control-label"></label>
                    <input asp-for="OrderStatus" class="form-control" />
                    <span asp-validation-for="OrderStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="儲存修改" class="btn btn-outline-primary" />
                    <a asp-controller="Order" asp-action="OrderManage" class="btn btn-outline-danger">取消修改</a>
                </div>
            </form>
        </div>
    </div>
    <!-- Content body end -->
    <!-- Scripts -->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
