@{
    ViewData["Title"] = "遊客數分析";
}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div>
        <!-- 圖表預計放入位置 -->
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <!-- Content body end -->

    <!-- Scripts -->
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- 圖表繪製JS -->
    <script src="../js/chart.js"></script>